<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">   <!-- Same folder -->
    <script src="jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="angular/angular.min.js"></script>
</head>
<body ng-app="myApp">
<div class="container-fluid bg-light">
  <h1 class="text-success text-center display-4">AUTOMATIC DISPENSER SYSTEM</h1>
</div>
<nav class="navbar navbar-expand-sm bg-success navbar-dark">
  <ul class="navbar-nav mr-auto">

    <!-- Dropdown --> <!-- Need jquery-->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#"  id="a" data-toggle="dropdown">
        Reports</a>
      <!-- dropdown-toggle to show the drop arrow-->
      <!-- data-toggle="dropdown" to show/hide dropdown list when clicked -->
      <div class="dropdown-menu">
        <a class="dropdown-item" href="rfid.html">RFID</a>
        <a class="dropdown-item" href="barcode.html">Barcode</a>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="status.html">Status</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="log.html">Log</a>
    </li>

    <li class="nav-item active">
      <a class="nav-link" href="user.html">User</a>
    </li>

    <li class="nav-item">
      <a href="session.html" class="nav-link">Session</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="wage.html">Wage</a>
    </li>


  </ul>
  <span class="float-right"><input type="text" ng-model = "search" class="form-control" placeholder="Search"></span>
</nav>
<br>
<div class = "container">
  <div class ="row">
    <div class="col-6 table-responsive-md" ng-controller="manager">
        <h1>Manager</h1>
      <div class = "table-responsive">        
      <table class = "table table-bordered table-striped">
          <thead class="bg-success text-center ">
            <tr>
                <th>User Name</th>
                <th>UID</th>
            </tr>
          </thead>
          <tbody >
            <tr ng-repeat="x in names | filter:search">
              <td >{{ x.UserName }}</td>
              <td>{{ x.UID }}</td>
            </tr>
          </tbody>      
        </table>    
      </div>

    </div>
    <div class="col-6 table-responsive-md" ng-controller="bartender">
        <h1>Bartender</h1>
        <div class = "table-responsive">        
        <table class = "table table-bordered table-striped">
            <thead class="bg-success text-center ">
            <tr>
                <th>User Name</th>
                <th>UID</th>
            </tr>
            </thead>
            <tbody >
            <tr ng-repeat="x in names | filter:search">
                <td >{{ x.UserName }}</td>
                <td>{{ x.UID }}</td>
            </tr>
            </tbody>      
        </table>    
        </div>
    
        </div>
  </div>
<script>
var app=angular.module('myApp',[]);        
  app.controller('manager', function($scope, $http, $interval){
      $interval(function(){
          $http.get("manager.php")
          .then(function(response){
          $scope.names = response.data;}); 
      },50)  
  });
  app.controller('bartender', function($scope, $http, $interval){
      $interval(function(){
          $http.get("bartender.php")
          .then(function(response){
          $scope.names = response.data;}); 
      },50)  
  });
  app.controller('time', function($scope, $interval){
    var tick = function(){
      $scope.clock = Date.now();
    }
    tick();
    $interval(tick, 1000);
  });
</script>
</body>
</html>
